{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="/js/calendar.php?lang={$cfg_lang}"></script>
<link href="/js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="form-div">
    <form action="javascript:searchCustoms()" name="searchForm">
        <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
        订单号：<input id="orderNo" name="orderNo" type="text" size="15">
        批次号：<input id="batchNumbers" name="batchNumbers" type="text" size="15">
        总运单号：<input id="totalLogisticsNo" name="totalLogisticsNo" type="text" size="15">
        物流运单号：<input id="logisticsNo" name="logisticsNo" type="text" size="15">
        收货人：<input id="consignee" name="consignee" type="text" size="15">
        报文类型：<select name="customsType">
            <option value="">请选择</option>
            <option value="order">订单</option>
            <option value="pay">支付单</option>
            <option value="EMS">EMS运单</option>
            <option value="st">仓储</option>
        </select>
        报文状态：<select name="customs_status">
            <option value="">请选择</option>
            <option value="99">未申报</option>
            <option value="1">成功</option>
            <option value="0">失败</option>
        </select>
        <input type="submit" value=" 搜索 " class="button">
    </form>
</div>
{/if}
<form action="custom_list.php?act=customsAction" method="post" name="listForm" onsubmit="return check()">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th><input type="checkbox" onclick="sel(this)" /></th>
                <th><a href="javascript:listTable.sort('order_sn', 'ASC'); ">订单编号{$sort_orderNo}</a></th>
                <th><a href="javascript:listTable.sort('batchNumbers', 'ASC'); ">批次号</a>{$sort_batchNumbers}</th>
                <!--<th><a href="javascript:listTable.sort('import_time', 'ASC'); ">导入时间</a>{$sort_import_time}</th>-->
                <th><a href="javascript:listTable.sort('consignee', 'ASC'); ">收货人</a>{$sort_consignee}</th>
                <th><a href="javascript:listTable.sort('order_amount', 'ASC'); ">订单金额</a>{$sort_charge}</th>
                <th><a href="javascript:listTable.sort('goods_amount', 'ASC'); ">货值</a>{$sort_goodsValue}</th>
                <th><a href="javascript:listTable.sort('logisticsNo', 'ASC'); ">物流运单号</a>{$sort_logisticsNo}</th>
                <th><a href="javascript:listTable.sort('totalLogisticsNo', 'ASC'); ">总运单号</a>{$sort_totalLogisticsNo}</th>
                <th><a href="javascript:listTable.sort('paymentNo', 'ASC'); ">支付单号</a>{$sort_paymentNo}</th>
                <th><a href="javascript:listTable.sort('order_status', 'ASC'); ">订单状态</a></th>
                <th><a href="javascript:listTable.sort('order_comments', 'ASC'); ">订单原因</a></th>
                <th>订单报文</th>
                <th>订单回执</th>
                <th><a href="javascript:listTable.sort('pay_number_status', 'ASC'); ">支付单状态</a></th>
                <th><a href="javascript:listTable.sort('pay_comments', 'ASC'); ">支付单原因</a></th>
                <th>支付单报文</th>
                <th>支付单回执</th>
                <th><a href="javascript:listTable.sort('transfer_status', 'ASC'); ">EMS运单状态</a></th>
                <th><a href="javascript:listTable.sort('transfer_comments', 'ASC'); ">EMS运单原因</a></th>
                <th><a href="javascript:listTable.sort('st_status', 'ASC'); ">仓储状态</a></th>
                <th><a href="javascript:listTable.sort('st_comments', 'ASC'); ">仓储原因</a></th>
                <th>{$lang.handler}</th>
            </tr>
            {foreach from=$res item=n}
            <tr>
                <td align="center"><input type="checkbox" name="order[]" value="{$n.id}" /></td>
                <td align="center">{$n.order_sn}</td>
                <td align="center">{$n.batchNumbers}</td>
                <!--<td align="center">{$n.import_time}</td>-->
                <td align="center">{$n.consignee}</td>
                <td align="right">￥{$n.order_amount}</td>
                <td align="right">￥{$n.goods_amount}</td>
                <td align="center">{$n.logisticsNo}</td>
                <td align="center">{$n.totalLogisticsNo}</td>
                <td align="center">{$n.paymentNo}</td>
                <td align="center">{$n.order_status}</td>
                <td align="center">{$n.order_comments}</td>
                <td align="center"><a href="/data/customs/airport/send/order/{$n.batchNumbers}/{$n.order_sn}.xml" target="_blank">{$n.order_sn}报文</a></td>
                <td align="center"><a href="/data/customs/airport/receive/order/{$n.batchNumbers}/{$n.order_sn}.xml" target="_blank">{$n.order_sn}回执</a></td>
                <td align="center">{$n.pay_number_status}</td>
                <td align="center">{$n.pay_comments}</td>
                <td align="center"><a href="/data/customs/airport/send/pay/{$n.order_sn}.xml" target="_blank">支付报文</a></td>
                <td align="center"><a href="/data/customs/airport/receive/pay/{$n.order_sn}.xml" target="_blank">支付回执</a></td>
                <td align="center">{$n.transfer_status}</td>
                <td align="center">{$n.transfer_comments}</td>
                <td align="center">{$n.st_status}</td>
                <td align="center">{$n.st_comments}</td>
                <td align="center">
                    <a title="回收站" onclick="listTable.remove({$n.id}, '您确实要删除 {$n.order_sn} 吗？')" href="javascript:;">
                        <img width="16" height="16" border="0" src="images/icon_trash.gif"></a>
                </td>
            </tr>
            {/foreach}
            <tr>
                <td align="center"><input type="checkbox" onclick="sel(this)" /></td>
                <td colspan="21" align="right">
                    {include file="page.htm"}
                </td>
            </tr>
        </table>
        {if $full_page}
    </div>
    <div style="margin-top:5px">
        <select id="operate" name="operate">
            <option value="o2">申报订单</option>
            <option value="o6">申报支付单</option>
            <option value="o7">申报EMS(每次最多1000单)</option>
            <option value="o3">申报仓储</option>
            <option value="batch_del">批量删除</option>
        </select>
        <select name="target">
            <option value="zongbao">综保</option>
        </select>
        <select name="modifyMark">
            <option value="1">新增</option>
            <option value="2">修改</option>
        </select>
        <select name="billmode">
            <option value="1">一般模式(集货)</option>
            <option value="2">保税模式(备货)</option>
        </select>
        进/出境日期：<input name="jcbOrderTime" type="text" id="jcbOrderTime" size="20" placeholder="进/出境日期" value="" />
        <input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('jcbOrderTime', '%Y-%m-%d', false, false, 'selbtn2');" value="{$lang.btn_select}" class="button" />&nbsp;&nbsp;&nbsp;
        <input name="send" type="submit" id="btnSubmit" value="确定" class="button" />
    </div>
</form>
<script>
            listTable.recordCount = {$record_count};
            listTable.pageCount = {$page_count};
    {foreach from = $filter item = item key = key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}

            function sel(i){
            var order = document.getElementsByName('order[]');
                    if (i.checked == true){
            for (var i = 0; i < order.length; i++){
            order[i].checked = true;
            }
            } else if (i.checked == false){
            for (var i = 0; i < order.length; i++){
            order[i].checked = false;
            }
            }
            }

    function check() {
    var snArray = new Array();
            var eles = document.forms['listForm'].elements;
            for (var i = 0; i < eles.length; i++) {
    if (eles[i].tagName == 'INPUT' && eles[i].type == 'checkbox' && eles[i].checked && eles[i].value != 'on') {
    snArray.push(eles[i].value);
    }
    }

    if (snArray.length == 0)
    {
    alert("请选择订单");
            return false;
    }
    else
    {
    return true;
    }
    }

    /**
     * 搜索订单
     */
    function searchCustoms() {
    listTable.filter['orderNo'] = Utils.trim(document.forms['searchForm'].elements['orderNo'].value);
            listTable.filter['consignee'] = Utils.trim(document.forms['searchForm'].elements['consignee'].value);
            listTable.filter['batchNumbers'] = Utils.trim(document.forms['searchForm'].elements['batchNumbers'].value);
            listTable.filter['logisticsNo'] = Utils.trim(document.forms['searchForm'].elements['logisticsNo'].value);
            listTable.filter['customsType'] = document.forms['searchForm'].elements['customsType'].value;
            listTable.filter['customs_status'] = document.forms['searchForm'].elements['customs_status'].value;
            listTable.filter['page'] = 1;
            listTable.loadList();
    }
</script>
{/if}