  <tr>
		<th colspan="6">
			海关关单(商品)
		</th>
	  </tr>
		<tr>
			<td width="13%"><div align="right"><strong>关联H2010项号</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][gno]" value="{$customgoods.gno}"></td>
			<td width="13%"><div align="right"><strong>海关备案商品编号</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][itemno]" value="{$customgoods.itemno}"></td>
			<td width="13%"><div align="right"><strong>商品上架品名</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][shelfgoodsname]" value="{$customgoods.shelfgoodsname}"></td>
		</tr>
		<tr>
			<td width="13%"><div align="right"><strong>商品描述</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][describe]" value="{$customgoods.describe}"></td>
			<td width="13%"><div align="right"><strong>商品货号</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][goodid]" value="{$customgoods.goodid}"></td>
			<td width="13%"><div align="right"><strong>申报品名</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][goodname]" value="{$customgoods.goodname}"></td>
		</tr>
		<tr>
			<td width="13%"><div align="right"><strong>规格型号</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][specifications]" value="{$customgoods.specifications}"></td>
			<td width="13%"><div align="right"><strong> HS编码</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][barcode]" value="{$customgoods.barcode}"></td>
			<td width="13%"><div align="right"><strong>行邮税号</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][taxid]" value="{$customgoods.taxid}"></td>
		</tr>
		<tr>
			<td width="13%"><div align="right"><strong>原产国</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][sourceproducercountry]" value="{$customgoods.sourceproducercountry}"></td>
			<td width="13%"><div align="right"><strong>币制</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][coin]" value="{$customgoods.coin}"></td>
			<td width="13%"><div align="right"><strong>计量单位</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][unit]" value="{$customgoods.unit}"></td>
		</tr>
		<tr>
			<td width="13%"><div align="right"><strong>申报数量</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][amount]" value="{$customgoods.amount}"></td>
			<td width="13%"><div align="right"><strong>成交单价</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][goodprice]" value="{$customgoods.goodprice}"></td>
			<td width="13%"><div align="right"><strong>成交总价</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][ordersum]" value="{$customgoods.ordersum}"></td>
		</tr>
		<tr>
			<td width="13%"><div align="right"><strong>是否赠品 N:不是 Y:是</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][flag]" value="{$customgoods.flag}"></td>
			<td width="13%"><div align="right"><strong>检验检疫商品备案编号</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][goodidinsp]" value="{$customgoods.goodidinsp}"></td>
			<td width="13%"><div align="right"><strong>订单编号</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][orderid]" value="{$customgoods.orderid}"></td>
		</tr>
		<tr>
			<td width="13%"><div align="right"><strong>货物名称(英文)</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][goodnameenglish]" value="{$customgoods.goodnameenglish}"></td>
			<td width="13%"><div align="right"><strong>毛重</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][weigth]" value="{$customgoods.weigth}"></td>
			<td width="13%"><div align="right"><strong>重量单位代码</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][weightunit]" value="{$customgoods.weightunit}"></td>
		</tr>
		<tr>
			<td width="13%"><div align="right"><strong>包装类型代码(检验检疫)</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][packcategoryinsp]" value="{$customgoods.packcategoryinsp}"></td>
			<td width="13%"><div align="right"><strong>废旧标识</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][wasterornotinsp]" value="{$customgoods.wasterornotinsp}"></td>
			<td width="13%"><div align="right"><strong>备注</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][remarksinsp]" value="{$customgoods.remarksinsp}"></td>
		</tr>
		<tr>
			<td width="13%"><div align="right"><strong>币制（检验检疫代码）</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][coininsp]" value="{$customgoods.coininsp}"></td>
			<td width="13%"><div align="right"><strong>计量单位（检验检疫代码）</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][unitinsp]" value="{$customgoods.unitinsp}"></td>
			<td width="13%"><div align="right"><strong>原产国（检验检疫代码）</strong></div></td>
			<td width="20%"><input name="goods[{$customgoods.id}][srccountryinsp]" value="{$customgoods.srccountryinsp}"></td>
		</tr>